{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.4.0"},
    {gun, "1.1.0"},
    {jiffy, "0.15.2"},
    {genlib, {git, "https://github.com/rbkmoney/genlib", {branch,"master"}}}
    ]}.

{relx, [{release, { chat_srv, "0.1.0" },
         [  chat_srv,
            chat_client,
            json_proto]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, false}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

%% Dialyzer static analyzing
{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.
